@use 'base/variables' as v; 
@use 'base/mixins' as mx; 

.barra{
    display: none;

    @include mx.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navegacion{
        display: flex;
        gap: 4rem;
    }

    &__link{
        text-decoration: none;
        color: v.$blanco;

        &:hover{
            color: v.$primario; 
            text-decoration: overline;
        }
    }

   

    &__nombre{
        color: v.$primario;
        font-weight: 700;
        margin: 0;
    }
}