@use 'base/variables' as v; 
@use 'base/mixins' as mx; 

.header{
    background-image: url(/build/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 0 20rem 0;


    &__busqueda{
        margin-top: 5rem;
        text-align: center;
        @include mx.tablet{
            margin-top: 30rem;
        }
    }

    &__busqueda-boton{
        @include mx.boton(v.$blanco, v.$primario); 
        transition-property: transform;
        transition-duration: .3s;

        // ANIMACION
        &:hover{
                transform: scale(1.05);
                background-image: radial-gradient(circle,#ff385c 0,#bd1e59 100%);
                color: v.$blanco;
            @include mx.tablet { 
                transform: scale(1.1);
                background-image: radial-gradient(circle,#ff385c 0,#bd1e59 100%);
                color: v.$blanco;
             }
        }

       

    }
}